
.titre{
  color:#1e4f4e;
  margin-left: 30px;
  font-size:50px;
background-color:#fdf2c1 ;}
  .m{
    margin-top: 100px;
    margin-right: 100px;
    margin-left: 500px;
    margin-left: 50px;
    background-color: #fdf2c1;
  width: width="300" width="200";}

  .b{
   
padding-right: 170px;
}